
<div class="container mx-auto my-5">
  <div class="flex mb-4">
    <div class="w-full bg-white">
      <div class="m-4">
        <p class="font-semibold">
          <time>
            <%= @question.created_at.to_formatted_s(:month_day_comma_year) %>
          </time>
        </p>
        <p class="font-black text-5xl"><%= @question.title %></p>
      </div>
      <div class="border-t-2 border-gray-600 p-6 text-3xl">
          <%= @question.content %>
      </div>
      <%= render partial: 'comments/form', locals: { commentable: @question } %>
      <%= render partial: 'comments/comments', locals: { commentable: @question } %>
    </div>
  </div>
</div>
