  <div class="container mx-auto" style="min-height: 900px">
    <div class="w-full my-6">
      <%= form_for @user, html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" } do |f| %>
        <div class="mb-6 inline-block">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key, class: 'block lg:inline-block h-16 w-16 rounded-full mx-auto object-cover'%>
          <% else %>
            <div class="rounded-full h-24 w-24 flex items-center justify-center upload-btn-wrapper">
              <%= f.file_field :avatar, as: :file, id: "profile-avatar" %>
              <%= cl_image_tag '371909290_ROCKET_400_vwextb', class: 'hover:bg-transparent' %>
            </div>
          <% end %>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            <%= f.label :full_name, 'Full Name:' %>
          </label>
        <%= f.text_field :full_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Full Name"%>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
              <%= f.label :bio, 'Bio:'%>
              <p> Why did you join ArtsySpace?
                What should other people here know about you?
              </p>
          </label>
          <%= f.text_area :bio, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-64", placeholder: "Tell us about you!"%>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            <%= f.label :city, 'City:' %>
          </label>
          <%= f.text_field :city, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Location"%>
        </div>
        <div class="flex items-center justify-between">
          <%= f.submit "Update Profile", class: "shadow bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
