<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to root_path do %>
      <span class="font-semibold text-xl tracking-tight">🎨 ArtsySpace</span>
    <% end %>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="text-right align-middle w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-md lg:flex-grow">
        <%= link_to "Create Post", new_post_path, class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 border-2 mr-4 rounded-sm" %>

      <a href="/questions" class="block mt-4 font-bold lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
        Community
      </a>
      <a href="/about" class="block mt-4 font-bold lg:inline-block lg:mt-0 text-white hover:text-white mr-4">
        About
      </a>
      <% if current_user != nil %>
        <%= user_avatar(current_user) %>
        <%= render partial: 'layouts/settings', locals: { current_user: current_user } %>
      <% else %>
        <%= link_to "LOG IN", new_user_session_path, class: "block mt-4 lg:inline-block font-bold lg:mt-0 text-white hover:text-teal-200 mr-4" %>

        <%= link_to "SIGN UP", new_user_registration_path, class: "bg-purple-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-full" %>
      <% end %>
    </div>
  </div>
</nav>

