<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>

<div x-data="{ open: false }" @keydown.escape="open = false" @click.away="open = false" class="relative inline-block text-left z-10">
  <div>
    <span class="rounded-md shadow-sm">
      <button @click="open = !open" type="button" class="inline-flex justify-center w-full py-2 px-4 transition ease-in-out duration-150">
        <i data-eva="menu-outline" data-eva-animation="zoom" data-eva-hover="true" data-eva-fill="white"></i>
      </button>
    </span>
  </div>
  <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg">
    <div class="rounded-md bg-white shadow-xs">
      <div class="py-1">
        <%= link_to "Edit Profile", edit_user_path(current_user), class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none fo     cus:bg-gray-100 focus:text-gray-900' %>
        <%= link_to "Ask ArtsySpace",new_question_path , class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none fo     cus:bg-gray-100 focus:text-gray-900' %>
      </div>
      <div class="border-t border-gray-100"></div>
      <div class="py-1">
        <%= link_to "Community Questions", questions_path , class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none fo     cus:bg-gray-100 focus:text-gray-900' %>
        <%= link_to "Posts", root_path , class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900' %>
      </div>
      <div class="border-t border-gray-100"></div>
      <div class="py-1">
        <%= link_to "About", '/about', class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900' %>

        <%= link_to "Log Out", destroy_user_session_path, class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900' %>

      </div>
      <div class="border-t border-gray-100"></div>
      <div class="py-1">
        <%= link_to "Delete Account",
          current_user, method: :delete,
          data: { confirm: 'Are you sure you want to delete your account?'},
          class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900'
        %>
      </div>
    </div>
  </div>
</div>
