<!DOCTYPE html>
<html>
  <head>
    <title>ArtsyDecor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all',  'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>ArtsySpace | Improve your well being by decorating your room</title>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
